<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>    
    <add key="修改是否弹确认框" value="false"/><!--true：弹框，false：不弹框-->
    <add key="每人能借多少本" value="10"/>
    <add key="备份目录" value="C:\"/>    
    <add key="备份间隔" value="00:05:00"/><!--多久备份一次，格式为 小时:分钟:秒钟-->
    <add key="到期日" value="30"/><!--借出多少天会到期提醒-->
    <add key="到期提醒间隔" value="00:30:00"/>
    
    <add key="AppId" value="BookRentApp"/>
    <add key="AppName" value="图书借阅管理"/>

    <add key="DefaultDbPath" value="Data\BookRent.db"/>
    <add key="DoubanApi" value="https://api.douban.com/v2/book/isbn/{0}?fields=title,price,author,publisher"/>
    <add key="DoubanTimeout" value="00:00:30"/>
    
    <add key="AutoBackupPlugin" value="true"/>
    <add key="NotifyPlugin" value="true"/>
    <add key="IsbnPlugin" value="true"/>
  </appSettings>
</configuration>
