<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
      <section name="DXThemeManager" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
    </sectionGroup>
  </configSections>
  <appSettings>
    <add key="AppId" value="BookRentApp"/>
    <add key="AppName" value="图书借阅管理"/>
    
    <add key="DefaultDbPath" value="Data\BookRent.db"/>
    
    <add key="DoubanApi" value="https://api.douban.com/v2/book/isbn/{0}?fields=title,price,author,publisher"/>
    <add key="DoubanTimeout" value="00:00:30"/>
    
    <add key="ExpireDays" value="30"/>
    <add key="ExpireNotifyInterval" value="00:30:00"/>

    <add key="AutoBackupPlugin" value="true"/>
    <add key="NotifyPlugin" value="true"/>
    <add key="IsbnPlugin" value="true"/>
  </appSettings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
  <userSettings>
    <DXThemeManager>
      <setting name="ApplicationThemeName" serializeAs="String">
        <value>Office2013</value>
      </setting>
    </DXThemeManager>
  </userSettings>
</configuration>
