<?xml version="1.0" encoding="utf-8"?>
<config>
  <confirmUpdate>true</confirmUpdate>
  <canRentCount>10</canRentCount>

  <plugins>

    <plugin name="autoBackup" isOn="true">
      <defaultDbPath>Data\BookRent.db</defaultDbPath>
      <backupDir>C:\</backupDir>
      <backupTime>00:05:00</backupTime>
    </plugin>

    <plugin name="notify" isOn="true">
      <expireDays>30</expireDays>
      <expireNotifyInterval>00:30:00</expireNotifyInterval>
    </plugin>

    <plugin name="isbn" isOn="true">
      <doubanApi>https://api.douban.com/v2/book/isbn/{0}?fields=title,price,author,publisher</doubanApi>
      <doubanTimeout>00:00:30</doubanTimeout>
    </plugin>
    
  </plugins>
</config>